<div class="cafeteria-menu">
     <ul>
        <% @menus.each do |menu| %>
        <li class="menu">
          <a href="#south indian"><%=menu.name%></a>
        </li>
        <%end %>
     </ul>
</div>
