<div class="cafeteria-menu">
  <ul>
    <% @menus.each do |menu| %>
      <li class="menu">
        <% if @current_user.is_owner? %>
          <span class="menuItem-delete">
            <%= link_to menu, method: :delete, data: {confirm: 'Are you sure?'} do %>
              <%= image_tag "trash.png" %>
            <% end %>
          </span>
        <% end %>
        <a href=<%= "##{menu.name}" %>><%= menu.name %></a>
      </li>
    <% end %>
  </ul>
</div>
