<main class="all-users">
  <%= render partial: "user-details", locals: {roles: nil, owner: @current_user, heading: "Owner"} %>
  <%= render partial: "user-details", locals: {roles: @clerks, owner: nil, heading: "Clerks"} %>
  <%= render partial: "user-details", locals: {roles: @customers, owner: nil, heading: "Customers"} %>
</main>
