<div class="search-box">
    <h3>Order everything Online</h3>
    <section class="food-icons">
      <img src="fast-food.png">
      <img src="tea-cup.png">
      <img src="pizza-slice1.png">
      <img src="fried-potatoes.png">
    </section>
    <form>
      <input type="search" placeholder="Search for item">
      <input type="submit" value="Seach Item">
      <input type="button" onclick=displayForm() value="Add Item">
    </form>
  </div>
  <div class="addItem-form" id="addItem-form">
    <form>
      <input type="text" placeholder="Item name">
      <input type="number" placeholder="Price">
      <input type="text" placeholder="Description of item">
      <select id="cars" name="name">
        <option value="Breakfast">Biryani</option>
        <option value="Biryani">South Indian</option>
        <option value="Desserts">Desserts</option>
        <option value="Ice Cream">Ice Cream</option>
      </select>
      <input type="submit" onclick=displayForm() value="Add Item">
    </form>
  </div>
