<h2>A new Order arrived!</h2>
<h3>Hello <span style="color:rgba(159, 49, 250, 0.932)"> Owner </span> a new order with id: <span style="color:rgba(159, 49, 250, 0.932)"><%= @order.id %></span> is placed.</h3>
<p>
  User placed order with id <%= @order.id %> at <span style="color:#ff6000e8;font-weight:bold"><%= @order.date.strftime("%d %B,%Y - %I:%M %p") %></span>
</p>
<p>
  Deliver the order when order is prepared!
</p>
<p style="background-color:rgba(255, 68, 0, 0.904);width:150px;text-align:center;border-radius:5px;padding:8px">
  <a href="cafeteria-management-saas-t15.herokuapp.com/pending_orders" style="color:white;text-decoration:none;padding:8px">View Order!</a>
</p>
<p>Have a great day!</p>
<p>Thank you!</p>
