<h2 >Welcome <%= @user.name %>!</h2>
<p>
  We welcomes you to our <span style="color:rgba(159, 49, 250, 0.932)">Cafeteria.</span>
</p>
<p>
  Order the <span style="color:rgba(255, 68, 0, 0.904)">FRESH,TASTY and HEALTHY</span> food from our cafeteria at afordable price.
</p>
<p style="background-color:rgba(255, 68, 0, 0.904);width:130px;text-align:center;border-radius:5px;padding:8px">
  <a href="cafeteria-management-saas-t15.herokuapp.com/menus" style="color:white;text-decoration:none;padding:8px">Order now!</a>
</p>
<p>Have a great day!</p>
<p>Thank you!</p>
