// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body{
  font-family: sans-serif;
}

.cafeteria-navbar{
  display: flex;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
}
.cafeteria-navbarHeading{
  margin: 5px;
  padding: 5px;
  color: rgba(34, 33, 33, 0.877);
  font-weight: bold;
  font-family: sans-serif;
  display: flex;
  align-items: center;
}
.cafeteria-navbarHeading img{
  padding: 5px;
}
.cafeteria-navbarAllButtons{
  display: flex;
  align-items: center;
  margin-left:auto ;
}
.cafeteria-navbarButton{
  list-style: none;
  margin: 5px;
  padding: 5px;
}
.cafeteria-navbarButton > a{
  text-decoration: none;
  color: rgba(24, 23, 23, 0.842);
  font-family: sans-serif;
  margin-right: 5px;
  text-align: center;
  padding: 5px;
}
.cafeteria-navbarButton > a:hover{
  color: rgba(255, 68, 0, 0.904);
}
.notice , .alert,#error_explanation{
  font-family: sans-serif;
  max-width: 50%;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  background-color: rgba(153, 253, 153, 0.836);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 2px solid darkgreen;
  color: darkgreen;
  font-size: 20px;
}
.alert,#error_explanation{
  background-color: rgba(252, 155, 138, 0.753);
  border: 2px solid darkred;
  color: darkred;
}

#error_explanation h2{
  font-size: 21px;
  font-weight: bold;
}
.error-message{
  text-align: left;
}
.home-main-gif{
  width:50%;
  margin: 5px auto;
}
.home-main{
  font-family: sans-serif;
  padding: 8px;
  text-align: center;
  color: rgba(255, 68, 0, 0.904);
}
.order-btn{
  margin: 5px auto;
  text-align: center;
}
.order-btn > a{
  font-size: 26px;
  font-family: sans-serif;
  text-decoration: none;
  background-color: rgba(255, 68, 0, 0.904);
  color: white;
  padding:10px;
  border-radius: 5px;
  border: 2px solid transparent;
}
