// Place all the styles related to the MenuItems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.Active {
  max-width: 100%;
  text-align: center;
  margin: 10px;
}
.n-ratings {
  font-size: 14px;
  opacity: 0.75;
  color: rgb(61, 61, 61);
  align-items: baseline;
}
.active-menus-heading > h3 {
  text-align: center;
  padding: 10px;
}
.all-menus-link > a {
  color: white;
  padding: 6px 10px;
  background-color: rgba(159, 49, 250, 0.932);
  font-family: sans-serif;
  border-radius: 8px;
}
.all-menus-link {
  padding: 15px;
}
