.walk-in-header{
  max-width: 70%;
  margin: 5px auto;
}
.walk-in-header > h3{
  text-align: center;
  color: rgba(94, 121, 185, 0.91);
}
.menu-menuItems{
  max-width: 70%;
  margin: 0 auto;
  display: flex;
  font-family: sans-serif;
}
.cafeteria-menu{
  width: 25%;
  margin: 5px;
  border-right: 2px dotted rgba(197, 194, 194, 0.966);
}
.menuName{
  margin: 5px;
  padding: 5px;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgba(0, 0, 0, 0.849);
}
h3.menuName:target{
  animation: menuHighlight 15s 1;
}
.menu{
  margin: 5px;
  padding: 5px;
  text-align: right;
  display: flex;
  align-items: center;
}
.menu > a{
  color: #0509c4;
  margin-left: auto;
  padding: 2px 8px;
}
.menuItem {
  height: 65px;
  margin: 5px;
  padding: 5px;
  margin-left: 25px;
  vertical-align: middle;
  display: flex;
  align-items: center;
  font-family: sans-serif;
}
.cafeteria-menuItems{
  width: 75%;
  margin: 0 auto;
}
.menuItems-list{
  border-bottom: 3px solid black;
}
.menuItem > p{
  padding: 5px;
}
.menuItem:hover{
  background-color: #e7e7eb;
  border-radius: 10px;
}

 .orderItem-updateItem{
   margin-left: auto;
   margin-right: 15px;
  }

  .orderItem-add{
   border: 1px solid #a13cf9;
   color: #a13cf9;
   padding: 8px;
  }

 .menuItem-details{
   display: block;
   padding: 2px;
   margin: 5px;
   font-size: 18px;
 }
 .menuItem-price{
   max-width: 35px;
   color: #535665;
 }
 .orderItem-add > a{
  color: #a13cf9;
  width: 20px;
  padding: 5px;
 }

 .menuItem-delete{
   display: none;
   margin-left: 10px;
 }
.menu:hover > .menuItem-delete{
  display: inline-block;
}
.each-menuItem-delete{
  display: none;
  margin-left: auto;
}
.each-menuItem-delete > a img{
  margin-left: auto;
  padding: 8px;
}
.menuItem:hover > .each-menuItem-delete{
  display: inline-block;
}
.menuItem-description{
  font-size: 15px;
  margin-left:25px;
  padding: 5px;
  color:#7e808c;
  border-left: 1px dotted black;
}
.item-rating{
  padding: 3px;
  margin-left: 5px;
}
.menus-dropdown{
  padding: 8px;
}
.menus-dropdown > select{
  border: 0px;
  background-color: white;
  font-size: 21px;
  border-radius: 5px;
  padding: 5px;
  width: 310px;
}
.add-menu-input{
  display: none;
}
.cart-bottom{
  display: none;
  background-color: #62da3d;
  color: white;
  font-family: sans-serif;
  padding: 5px;
  width: 100%;
}
.cart-bottom-button > a{
  color: white;
  padding: 5px;
  margin-right: 8px;
  font-size: 18px;
  font-weight: bold;
}
.cart-bottom-price{
  border-left: 2px solid white;
  padding-left: 8px;
  font-size: 18px;
  font-weight: bold;
}
.cart-bottom-items{
  margin-right: 8px;
  font-size: 18px;
  font-weight: bold;
}

@keyframes menuHighlight{
  0%{background-color: #a13cf9;color: white;}
  99%{background-color: #a13cf9;color: white;}
  100%{background-color: white;color: black;}
}
