.menu-menuItems{
  max-width: 70%;
  margin: 0 auto;
  display: flex;
  font-family: sans-serif;
}
.cafeteria-menu{
  width: 25%;
  margin: 5px;
  border-right: 2px dotted rgba(197, 194, 194, 0.966);
}
.menuName{
  margin: 5px;
  padding: 5px;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgba(0, 0, 0, 0.849);
}
.menu{
  margin: 5px;
  padding: 5px;
  text-align: right;
}
.menu > a{
  color: #0509c4;
}
.menuItem {
  height: 65px;
  margin: 5px;
  padding: 5px;
  margin-left: 25px;
  vertical-align: middle;
  display: flex;
  align-items: center;
  font-family: sans-serif;
}
.cafeteria-menuItems{
  width: 75%;
  margin: 0 auto;
}
.menuItems-list{
  border-bottom: 3px solid black;
}
.menuItem > p{
  padding: 5px;
}
.menuItem:hover{
  background-color: #e7e7eb;
  border-radius: 10px;
}

 .orderItem-add{
   margin-left: auto;
   border: 1px solid #a13cf9;
   color: #a13cf9;
   margin-right: 5px;
  }
 .menuItem-price{
   display: block;
   padding: 5px;
   margin: 5px;
   font-size: 18px;
   color: rgb(92, 91, 91);
 }
 .orderItem-add > a{
  color: #a13cf9;
  width: 20px;
  padding: 5px;
 }
