.main-sigbUpBody{
  font-family:  sans-serif;
}

.signUpBox{
  max-width: 500px;
  margin: 20px auto;
  border: 3px solid transparent;
  border-radius: 20px;
  box-shadow: 2px 2px 20px rgb(14, 17, 24);
}

.signUp-login{
  margin: 25px 0;
  text-align: center;
  font-size: 20px;
}

.login-link{
  text-decoration: none;
  color: rgb(199, 26, 26);
}

.signUp-form input[type="text"] ,input[type="password"] ,#user_name {
  display: block;
  margin : 5px auto;
  width: 400px;
  font-size: 25px;
  padding: 5px;
  text-align: center;
  border: 2px solid rgb(65, 113, 216);
  border-radius: 10px;

}

.signUp-button:hover{
  background-color: rgba(37, 168, 37, 0.863) ;
}

.signUp-button{
  text-decoration: none;
  display: block;
  margin: 10px auto;
  margin: 10px auto;
  width: 400px;
  text-align: center;
  background-color: rgb(37, 168, 37);
  color: white;
  font-weight: bold;
  border: 5px solid transparent;
  border-radius: 10px;
  font-size: 20px;
  padding: 5px;

}
